<% if flash.any? %>
  <div id="flash" data-controller="flash" class="flash-container">
    <% flash.each do |type, message| %>
      <div class="flash-message <%= type %>"><%= message %></div>
    <% end %>
  </div>
<% end %>
